@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-control-container {
  position: absolute;
  right: 56px;
  top: 100px;
}

.city__widget__container {
  opacity: 0;
  animation-name: shownum;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  padding: 10px;
}

/* width */
.city__widget__container > div::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

/* Track */
.city__widget__container > div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.city__widget__container > div::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.city__widget__container > div::-webkit-scrollbar-thumb:hover {
  background: #666565;
}

@keyframes shownum {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
